<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drivinglicensequizz">

    <application
        android:allowBackup="true"
        android:name=".data.source.RealmConfig"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.choose_contest.ChooseContestActivity"></activity>
        <activity android:name=".ui.questions.QuestionsActivity" />
        <activity android:name=".ui.traffic_sign.TrafficSignActivity" />
        <activity android:name=".ui.home_screen.HomeActivity" />
        <activity android:name=".ui.tips.tips_theory.TheoryTipActivity" />
        <activity android:name=".ui.tips.tips_practise.KinhNghiemA1A2" />
        <activity android:name=".ui.tips.tips_practise.KinhNghiemB1B2" />
        <activity android:name=".ui.do_contest.DoContestActivity" />
        <activity android:name=".ui.history.HistoryContestActivity" />
        <activity android:name=".ui.history.ShowDetailContestActivity" />
        <activity android:name=".ui.splash.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>